<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <title>Vue - Boolfix</title>
    </head>
    <body>
        <div id="root">
            <div class="container">
                <div class="search-container">
                    <input v-model="searchedText" @keyUp.enter="search">
                    <button type="button" @click="search">Cerca</button>
                </div>

                <div class="movie-list">
                    <ul v-for="movie in foundMovies" class="card">
                        <li class="poster-container">
                            <img :src="'http://image.tmdb.org/t/p/w185' + movie.backdrop_path" :alt="movie.title + ' image'">
                        </li>
                        <li>
                            <p class="title">Titolo: {{ movie.title }}</p>
                            <p class="original-title">Titolo originale: {{ movie.original_title }}</p>
                            <p class="original-language">
                                Lingua originale:
                                <img :src="'Flag-Images/' + movie.original_language + '.png'"
                                     class="flag-image" :alt="movie.original_language"
                                     v-if="availableFlags.includes(movie.original_language)">
                                <span v-else>{{ movie.original_language }}</span>
                            </p>
                            <p class="rating">
                                <i class="fa-star" v-for="index in 5"
                                    :class="index <= stars(movie.vote_average) ? 'fas' : 'far'">
                                </i>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="main.js" charset="utf-8"></script>

    </body>
</html>
